openapi: 3.0.3
info:
  title: GitHub REST API v4 local slice
  version: 2026-05-28
servers:
  - url: https://api.github.com
paths:
  /repos/{owner}/{repo}/issues:
    get:
      operationId: list-repository-issues
      summary: List repository issues
      parameters:
        - $ref: "#/components/parameters/owner"
        - $ref: "#/components/parameters/repo"
        - name: state
          in: query
          required: false
          schema:
            type: string
            default: open
        - name: labels
          in: query
          required: false
          schema:
            type: string
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          description: Repository issues
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/issue"
    post:
      operationId: create-repository-issue
      summary: Create an issue
      parameters:
        - $ref: "#/components/parameters/owner"
        - $ref: "#/components/parameters/repo"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_issue_request"
      responses:
        "201":
          description: Created issue
  /repos/{owner}/{repo}/issues/{issue_number}:
    get:
      operationId: get-issue
      summary: Get an issue
      parameters:
        - $ref: "#/components/parameters/owner"
        - $ref: "#/components/parameters/repo"
        - $ref: "#/components/parameters/issue_number"
      responses:
        "200":
          description: Issue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/issue"
    head:
      operationId: check-issue
      summary: Check whether an issue exists
      parameters:
        - $ref: "#/components/parameters/owner"
        - $ref: "#/components/parameters/repo"
        - $ref: "#/components/parameters/issue_number"
      responses:
        "204":
          description: Issue exists
  /search/issues:
    get:
      operationId: search-issues-and-pull-requests
      summary: Search issues and pull requests
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            default: desc
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/issue_search_result"
components:
  parameters:
    owner:
      name: owner
      in: path
      required: true
      schema:
        type: string
    repo:
      name: repo
      in: path
      required: true
      schema:
        type: string
    issue_number:
      name: issue_number
      in: path
      required: true
      schema:
        type: integer
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    per_page:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        default: 30
  schemas:
    create_issue_request:
      type: object
      required: [title]
      properties:
        title:
          type: string
        body:
          type: string
        labels:
          type: array
          items:
            type: string
    issue_search_result:
      type: object
      required: [total_count, incomplete_results, items]
      properties:
        total_count:
          type: integer
        incomplete_results:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/issue"
    issue:
      type: object
      required: [id, number, state, title, html_url]
      properties:
        id:
          type: integer
        node_id:
          type: string
        number:
          type: integer
        state:
          type: string
        title:
          type: string
        body:
          type: string
          nullable: true
        html_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          type: object
          properties:
            login:
              type: string
            id:
              type: integer
