# Generated by tools/openapi-forge. Do not edit.
#
# Regenerate with `make slack-spec`. Corrections belong in
# tools/openapi-forge/apis/slack/overlay.yaml, not here.
openapi: 3.0.3
info:
  title: Slack Web API
  description: "Read-only coverage of the Slack Web API, generated from Slack's published reference documentation and the response samples recorded in slackapi/java-slack-sdk. Slack publishes no OpenAPI 3.0 description of its own: the official slackapi/slack-api-specs is Swagger 2.0, was last updated in August 2020, and the repository was archived in March 2024."
  version: 2026-07-30
servers:
  - url: https://slack.com/api
tags:
  - name: conversations
  - name: search
  - name: users
paths:
  /conversations.history:
    get:
      operationId: conversations/history
      tags:
        - conversations
      summary: Fetches a conversation's history of messages and events.
      description: "Fetches a conversation's history of messages and events. Requires one of the scopes: channels:history, groups:history, im:history, mpim:history. Rate limit: Tier 3: 50+ per minute. See https://docs.slack.dev/reference/methods/conversations.history."
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
          description: Conversation ID to fetch history for.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: include_all_metadata
          in: query
          required: false
          schema:
            type: boolean
          description: Return all metadata associated with this message.
          example: true
        - name: inclusive
          in: query
          required: false
          schema:
            type: boolean
          description: Include messages with `oldest` or `latest` timestamps in results. Ignored unless either timestamp is specified.
          example: true
        - name: latest
          in: query
          required: false
          schema:
            type: string
          description: Only messages before this Unix timestamp will be included in results. Default is the current time.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the conversation history hasn't been reached. Maximum of 999.
          example: 20
        - name: oldest
          in: query
          required: false
          schema:
            type: string
            default: "0"
          description: Only messages after this Unix timestamp will be included in results.
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel_actions_count:
                    type: integer
                  channel_actions_ts:
                    type: integer
                  error:
                    type: string
                  has_more:
                    type: boolean
                  latest:
                    type: string
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
                  needed:
                    type: string
                  ok:
                    type: boolean
                  oldest:
                    type: string
                  pin_count:
                    type: integer
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
  /conversations.info:
    get:
      operationId: conversations/info
      tags:
        - conversations
      summary: Retrieve information about a conversation.
      description: "Retrieve information about a conversation. Requires one of the scopes: channels:read, groups:read, im:read, mpim:read. Rate limit: Tier 3: 50+ per minute. See https://docs.slack.dev/reference/methods/conversations.info."
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
          description: Conversation ID to learn more about
        - name: include_locale
          in: query
          required: false
          schema:
            type: boolean
          description: Set this to `true` to receive the locale for this conversation. Defaults to `false`
        - name: include_num_members
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Set to `true` to include the member count for the specified conversation. Defaults to `false`
          example: true
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel:
                    type: object
                    properties:
                      connected_limited_team_ids:
                        type: array
                        items:
                          type: string
                      connected_team_ids:
                        type: array
                        items:
                          type: string
                      context_team_id:
                        type: string
                      conversation_host_id:
                        type: string
                      created:
                        type: integer
                      creator:
                        type: string
                      id:
                        type: string
                      internal_team_ids:
                        type: array
                        items:
                          type: string
                      is_archived:
                        type: boolean
                      is_channel:
                        type: boolean
                      is_ext_shared:
                        type: boolean
                      is_general:
                        type: boolean
                      is_global_shared:
                        type: boolean
                      is_group:
                        type: boolean
                      is_im:
                        type: boolean
                      is_member:
                        type: boolean
                      is_moved:
                        type: integer
                      is_mpim:
                        type: boolean
                      is_non_threadable:
                        type: boolean
                      is_org_default:
                        type: boolean
                      is_org_mandatory:
                        type: boolean
                      is_org_shared:
                        type: boolean
                      is_pending_ext_shared:
                        type: boolean
                      is_private:
                        type: boolean
                      is_read_only:
                        type: boolean
                      is_shared:
                        type: boolean
                      is_thread_only:
                        type: boolean
                      last_read:
                        type: string
                      locale:
                        type: string
                      name:
                        type: string
                      name_normalized:
                        type: string
                      num_members:
                        type: integer
                      pending_connected_team_ids:
                        type: array
                        items:
                          type: string
                      pending_shared:
                        type: array
                        items:
                          type: string
                      previous_names:
                        type: array
                        items:
                          type: string
                      properties:
                        type: object
                        properties:
                          has_slack_connect_invite_created:
                            type: boolean
                          is_dormant:
                            type: boolean
                          tabs:
                            type: array
                            items: {}
                          tabz:
                            type: array
                            items: {}
                      purpose:
                        type: object
                        properties:
                          creator:
                            type: string
                          last_set:
                            type: integer
                          value:
                            type: string
                      shared_team_ids:
                        type: array
                        items:
                          type: string
                      topic:
                        type: object
                        properties:
                          creator:
                            type: string
                          last_set:
                            type: integer
                          value:
                            type: string
                      unlinked:
                        type: integer
                      updated:
                        type: integer
                  error:
                    type: string
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  warning:
                    type: string
  /conversations.list:
    get:
      operationId: conversations/list
      tags:
        - conversations
      summary: Lists all channels in a Slack team.
      description: "Lists all channels in a Slack team. Requires one of the scopes: channels:read, groups:read, im:read, mpim:read. Rate limit: Tier 2: 20+ per minute. See https://docs.slack.dev/reference/methods/conversations.list."
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: exclude_archived
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Set to `true` to exclude archived channels from the list.
          example: true
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer under 1000.
          example: 20
        - name: team_id
          in: query
          required: false
          schema:
            type: string
          description: encoded team id to list channels in, required if token belongs to org-wide app
        - name: types
          in: query
          required: false
          schema:
            type: string
            default: public_channel
          description: Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`
          example: public_channel,private_channel
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  arg:
                    type: string
                  callstack:
                    type: string
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/Channel"
                  error:
                    type: string
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                  warning:
                    type: string
  /conversations.members:
    get:
      operationId: conversations/members
      tags:
        - conversations
      summary: Retrieve members of a conversation.
      description: "Retrieve members of a conversation. Requires one of the scopes: channels:read, groups:read, im:read, mpim:read. Rate limit: Tier 4: 100+ per minute. See https://docs.slack.dev/reference/methods/conversations.members."
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
          description: ID of the conversation to retrieve members for
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.
          example: 20
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  members:
                    type: array
                    items:
                      type: string
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                  warning:
                    type: string
  /conversations.replies:
    get:
      operationId: conversations/replies
      tags:
        - conversations
      summary: Retrieve a thread of messages posted to a conversation
      description: "Retrieve a thread of messages posted to a conversation Requires one of the scopes: channels:history, groups:history, im:history, mpim:history. Rate limit: Tier 3: 50+ per minute. See https://docs.slack.dev/reference/methods/conversations.replies."
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
          description: Conversation ID to fetch thread from.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: include_all_metadata
          in: query
          required: false
          schema:
            type: boolean
          description: Return all metadata associated with this message.
          example: true
        - name: inclusive
          in: query
          required: false
          schema:
            type: boolean
          description: Include messages with `oldest` or `latest` timestamps in results. Ignored unless either timestamp is specified.
          example: true
        - name: latest
          in: query
          required: false
          schema:
            type: string
            default: now
          description: Only messages before this Unix timestamp will be included in results.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 1000
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.
          example: 20
        - name: oldest
          in: query
          required: false
          schema:
            type: string
            default: "0"
          description: Only messages after this Unix timestamp will be included in results.
        - name: ts
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier of either a thread’s parent message or a message in the thread. `ts` must be the timestamp of an existing message with 0 or more replies. If there are no replies then just the single message referenced by `ts` will return - it is just an ordinary, unthreaded message.
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  has_more:
                    type: boolean
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConversationsMessage"
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
  /search.messages:
    get:
      operationId: search/messages
      tags:
        - search
      summary: Searches for messages matching a query.
      description: "Searches for messages matching a query. Requires one of the scopes: search:read. Rate limit: Tier 2: 20+ per minute. See https://docs.slack.dev/reference/methods/search.messages."
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Pass the number of results you want per "page". Maximum of `100`.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Use this when getting results with cursormark pagination. For first call send `*` for subsequent calls, send the value of `next_cursor` returned in the previous call's results
        - name: highlight
          in: query
          required: false
          schema:
            type: boolean
          description: Pass a value of `true` to enable query highlight markers (see below).
          example: true
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query.
          example: pickleface
        - name: sort
          in: query
          required: false
          schema:
            type: string
            default: score
          description: Return matches sorted by either `score` or `timestamp`.
          example: timestamp
        - name: sort_dir
          in: query
          required: false
          schema:
            type: string
            default: desc
          description: Change sort direction to ascending (`asc`) or descending (`desc`).
          example: asc
        - name: team_id
          in: query
          required: false
          schema:
            type: string
          description: encoded team id to search in, required if org token is used
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  messages:
                    type: object
                    properties:
                      matches:
                        type: array
                        items:
                          type: object
                      pagination:
                        type: object
                        properties:
                          first:
                            type: integer
                          last:
                            type: integer
                          page:
                            type: integer
                          page_count:
                            type: integer
                          per_page:
                            type: integer
                          total_count:
                            type: integer
                      paging:
                        type: object
                        properties:
                          count:
                            type: integer
                          page:
                            type: integer
                          pages:
                            type: integer
                          total:
                            type: integer
                      total:
                        type: integer
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  query:
                    type: string
  /users.conversations:
    get:
      operationId: users/conversations
      tags:
        - users
      summary: List conversations the calling user is a member of.
      description: "List conversations the calling user is a member of. Requires one of the scopes: channels:read, groups:read, im:read, mpim:read. Rate limit: Tier 3: 50+ per minute. See https://docs.slack.dev/reference/methods/users.conversations."
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: exclude_archived
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Set to `true` to exclude archived channels from the list
          example: true
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer with a max value of 999.
          example: 20
        - name: team_id
          in: query
          required: false
          schema:
            type: string
          description: encoded team id to list conversations in, required if org token is used
        - name: types
          in: query
          required: false
          schema:
            type: string
            default: public_channel
          description: Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`
          example: im,mpim
        - name: user
          in: query
          required: false
          schema:
            type: string
          description: Browse conversations by a specific user ID's membership. Non-public channels are restricted to those where the calling user shares membership.
          example: W0B2345D
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  arg:
                    type: string
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/UsersChannel"
                  error:
                    type: string
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                  warning:
                    type: string
  /users.info:
    get:
      operationId: users/info
      tags:
        - users
      summary: Gets information about a user.
      description: "Gets information about a user. Requires one of the scopes: users:read. Rate limit: Tier 4: 100+ per minute. See https://docs.slack.dev/reference/methods/users.info."
      parameters:
        - name: include_locale
          in: query
          required: false
          schema:
            type: boolean
          description: Set this to `true` to receive the locale for this user. Defaults to `false`
        - name: user
          in: query
          required: true
          schema:
            type: string
          description: User to get info on
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  needed:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  user:
                    type: object
                    properties:
                      color:
                        type: string
                      deleted:
                        type: boolean
                      enterprise_id:
                        type: string
                      enterprise_name:
                        type: string
                      enterprise_user:
                        type: object
                        properties:
                          enterprise_id:
                            type: string
                          enterprise_name:
                            type: string
                          id:
                            type: string
                          is_admin:
                            type: boolean
                          is_owner:
                            type: boolean
                          is_primary_owner:
                            type: boolean
                          teams:
                            type: array
                            items: {}
                      has_2fa:
                        type: boolean
                      id:
                        type: string
                      is_admin:
                        type: boolean
                      is_app_user:
                        type: boolean
                      is_bot:
                        type: boolean
                      is_connector_bot:
                        type: boolean
                      is_email_confirmed:
                        type: boolean
                      is_invited_user:
                        type: boolean
                      is_owner:
                        type: boolean
                      is_primary_owner:
                        type: boolean
                      is_restricted:
                        type: boolean
                      is_stranger:
                        type: boolean
                      is_ultra_restricted:
                        type: boolean
                      is_workflow_bot:
                        type: boolean
                      locale:
                        type: string
                      name:
                        type: string
                      profile:
                        type: object
                        properties:
                          always_active:
                            type: boolean
                          api_app_id:
                            type: string
                          avatar_hash:
                            type: string
                          bot_id:
                            type: string
                          display_name:
                            type: string
                          display_name_normalized:
                            type: string
                          email:
                            type: string
                          first_name:
                            type: string
                          guest_invited_by:
                            type: string
                          huddle_state:
                            type: string
                          huddle_state_expiration_ts:
                            type: integer
                          image_1024:
                            type: string
                          image_192:
                            type: string
                          image_24:
                            type: string
                          image_32:
                            type: string
                          image_48:
                            type: string
                          image_512:
                            type: string
                          image_72:
                            type: string
                          image_original:
                            type: string
                          is_custom_image:
                            type: boolean
                          last_name:
                            type: string
                          phone:
                            type: string
                          pronouns:
                            type: string
                          real_name:
                            type: string
                          real_name_normalized:
                            type: string
                          skype:
                            type: string
                          start_date:
                            type: string
                          status_emoji:
                            type: string
                          status_emoji_display_info:
                            type: array
                            items: {}
                          status_emoji_url:
                            type: string
                          status_expiration:
                            type: integer
                          status_text:
                            type: string
                          status_text_canonical:
                            type: string
                          team:
                            type: string
                          title:
                            type: string
                      real_name:
                        type: string
                      team_id:
                        type: string
                      teams:
                        type: array
                        items:
                          type: string
                      tz:
                        type: string
                      tz_label:
                        type: string
                      tz_offset:
                        type: integer
                      updated:
                        type: integer
                      who_can_share_contact_card:
                        type: string
                  warning:
                    type: string
  /users.list:
    get:
      operationId: users/list
      tags:
        - users
      summary: Lists all users in a Slack team.
      description: "Lists all users in a Slack team. Requires one of the scopes: users:read. Rate limit: Tier 2: 20+ per minute. See https://docs.slack.dev/reference/methods/users.list."
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first "page" of the collection. See pagination for more detail.
          example: dXNlcjpVMDYxTkZUVDI=
        - name: include_locale
          in: query
          required: false
          schema:
            type: boolean
          description: Set this to `true` to receive the locale for users. Defaults to `false`
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached. Providing no `limit` value will result in Slack attempting to deliver you the entire result set. If the collection is too large you may experience `limit_required` or HTTP 500 errors.
          example: 20
        - name: team_id
          in: query
          required: false
          schema:
            type: string
          description: encoded team id to list users in, required if org token is used
      responses:
        "200":
          description: "Response envelope. Slack reports failures here with `ok: false`."
          content:
            application/json:
              schema:
                type: object
                properties:
                  arg:
                    type: string
                  cache_ts:
                    type: integer
                  error:
                    type: string
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/Member"
                  needed:
                    type: string
                  offset:
                    type: string
                  ok:
                    type: boolean
                  provided:
                    type: string
                  response_metadata:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                  warning:
                    type: string
components:
  schemas:
    Channel:
      type: object
      properties:
        context_team_id:
          type: string
        conversation_host_id:
          type: string
        created:
          type: integer
        creator:
          type: string
        id:
          type: string
        internal_team_ids:
          type: array
          items: {}
        is_archived:
          type: boolean
        is_channel:
          type: boolean
        is_ext_shared:
          type: boolean
        is_general:
          type: boolean
        is_global_shared:
          type: boolean
        is_group:
          type: boolean
        is_im:
          type: boolean
        is_member:
          type: boolean
        is_moved:
          type: integer
        is_mpim:
          type: boolean
        is_org_default:
          type: boolean
        is_org_mandatory:
          type: boolean
        is_org_shared:
          type: boolean
        is_pending_ext_shared:
          type: boolean
        is_private:
          type: boolean
        is_shared:
          type: boolean
        is_user_deleted:
          type: boolean
        name:
          type: string
        name_normalized:
          type: string
        num_members:
          type: integer
        pending_connected_team_ids:
          type: array
          items: {}
        pending_shared:
          type: array
          items: {}
        previous_names:
          type: array
          items: {}
        priority:
          type: integer
        properties:
          type: object
        purpose:
          type: object
        shared_team_ids:
          type: array
          items: {}
        topic:
          type: object
        unlinked:
          type: integer
        updated:
          type: integer
        user:
          type: string
    ConversationsMessage:
      type: object
      properties:
        app_id:
          type: string
        assistant_app_thread:
          type: object
        attachments:
          type: array
          items: {}
        blocks:
          type: array
          items: {}
        bot_id:
          type: string
        bot_profile:
          type: object
        display_as_bot:
          type: boolean
        edited:
          type: object
        files:
          type: array
          items: {}
        is_locked:
          type: boolean
        last_read:
          type: string
        latest_reply:
          type: string
        metadata:
          type: object
        parent_user_id:
          type: string
        reactions:
          type: array
          items: {}
        reply_count:
          type: integer
        reply_users:
          type: array
          items: {}
        reply_users_count:
          type: integer
        subscribed:
          type: boolean
        team:
          type: string
        text:
          type: string
        thread_ts:
          type: string
        ts:
          type: string
        type:
          type: string
        upload:
          type: boolean
        user:
          type: string
        x_files:
          type: array
          items: {}
    Member:
      type: object
      properties:
        color:
          type: string
        deleted:
          type: boolean
        enterprise_user:
          type: object
        has_2fa:
          type: boolean
        id:
          type: string
        is_admin:
          type: boolean
        is_app_user:
          type: boolean
        is_bot:
          type: boolean
        is_connector_bot:
          type: boolean
        is_email_confirmed:
          type: boolean
        is_invited_user:
          type: boolean
        is_owner:
          type: boolean
        is_primary_owner:
          type: boolean
        is_restricted:
          type: boolean
        is_ultra_restricted:
          type: boolean
        is_workflow_bot:
          type: boolean
        locale:
          type: string
        name:
          type: string
        profile:
          type: object
        real_name:
          type: string
        team_id:
          type: string
        two_factor_type:
          type: string
        tz:
          type: string
        tz_label:
          type: string
        tz_offset:
          type: integer
        updated:
          type: integer
        who_can_share_contact_card:
          type: string
    Message:
      type: object
      properties:
        app_id:
          type: string
        assistant_app_thread:
          type: object
        attachments:
          type: array
          items: {}
        blocks:
          type: array
          items: {}
        bot_id:
          type: string
        bot_profile:
          type: object
        client_msg_id:
          type: string
        display_as_bot:
          type: boolean
        edited:
          type: object
        files:
          type: array
          items: {}
        icons:
          type: object
        inviter:
          type: string
        is_locked:
          type: boolean
        latest_reply:
          type: string
        metadata:
          type: object
        parent_user_id:
          type: string
        purpose:
          type: string
        reactions:
          type: array
          items: {}
        reply_count:
          type: integer
        reply_users:
          type: array
          items: {}
        reply_users_count:
          type: integer
        root:
          type: object
        subscribed:
          type: boolean
        subtype:
          type: string
        team:
          type: string
        text:
          type: string
        thread_ts:
          type: string
        topic:
          type: string
        ts:
          type: string
        type:
          type: string
        upload:
          type: boolean
        user:
          type: string
        username:
          type: string
        x_files:
          type: array
          items: {}
    UsersChannel:
      type: object
      properties:
        context_team_id:
          type: string
        conversation_host_id:
          type: string
        created:
          type: integer
        creator:
          type: string
        enterprise_id:
          type: string
        id:
          type: string
        internal_team_ids:
          type: array
          items: {}
        is_archived:
          type: boolean
        is_channel:
          type: boolean
        is_ext_shared:
          type: boolean
        is_general:
          type: boolean
        is_global_shared:
          type: boolean
        is_group:
          type: boolean
        is_im:
          type: boolean
        is_moved:
          type: integer
        is_mpim:
          type: boolean
        is_open:
          type: boolean
        is_org_default:
          type: boolean
        is_org_mandatory:
          type: boolean
        is_org_shared:
          type: boolean
        is_pending_ext_shared:
          type: boolean
        is_private:
          type: boolean
        is_shared:
          type: boolean
        is_user_deleted:
          type: boolean
        last_read:
          type: string
        name:
          type: string
        name_normalized:
          type: string
        parent_conversation:
          type: string
        pending_connected_team_ids:
          type: array
          items: {}
        pending_shared:
          type: array
          items: {}
        previous_names:
          type: array
          items: {}
        priority:
          type: integer
        properties:
          type: object
        purpose:
          type: object
        shared_team_ids:
          type: array
          items: {}
        topic:
          type: object
        unlinked:
          type: integer
        updated:
          type: integer
        user:
          type: string
